

@font-face {

	font-family: caps;
	src: url(../fonts/caps.ttf);
}

@font-face {

	font-family: normal;
	src: url(../fonts/normal-bold.ttf);
}

* {

	margin: 0;
	padding: 0;
	text-decoration: none;
	list-style: none;

	font-family: normal;
	/*border: 1px solid red;*/

}

body{

	max-width: 1084px;
	margin: 0 auto;

}



header,ul {

	display: flex;
	
}

header	{

	height: 60px;


justify-content: space-between;
align-items: center;
/*border: 1px solid red;
*/

}


.burger{


	display: none;
}


.header_navigation{


	width: 214px;
	justify-content: space-between;

}


a{
	color:  #181818;
	transition: 300ms color ease;
	font-family: caps;
}


a:hover {
	color:  #baDC58;
	transition: 300ms color ease;

}



a,h1,h2,h3,address {
font-family: caps;
}

h1 {

	font-size: 50px;
	text-align: center;
}

.hero {
	/*border: 1px solid red;*/
	/*position: relative;*/
	height: calc(100vh - 60px);
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	color: #FFFFFF;
/*	background-color: #707070;*/

}

.hero_content {

    display: flex;
    flex-direction: column;
    align-items: center;
    /*border: 1px solid red;*/
}


.hero_p {

	font-size: 14px;
	text-align: center;
	margin-top: 10px;
	/*border: 1px solid red;*/
	
}


.hero_more{
	margin-top: 52px;
	color: #181818;
	background-color: #BADC58;
   	padding: 14px 52px;
    border: 1px solid #BADC58;
    border-radius: 10px;
    transition: color 300ms ease, background-color 300ms ease;
    font-size: 14px;
    /*border: 1px solid red;*/
/*    align-items: flex-end
*/
}


.hero_more:hover{

background-color: #FFFFFF;
color: #BADC58;
border: 1px solid #BADC58;
transition: color 300ms ease, background-color 300ms ease;

}


.hero_image {

	width: 100%;
	height: calc(100vh - 60px);
	top: 60px;
	position: absolute;
	z-index: -2;
	left: 0;
	object-fit: cover;
}


.hero::before {

	content: '';
	display: block;
	position: absolute;
	top: 60px;
	bottom: 0;
	left: 0;
	right: 0;
	background-color: #181818;
	opacity: .6;
	z-index: -1;

    height: calc(100vh - 60px);

}

.hero_scroll {
    position: absolute;
    bottom: 60px;
	margin-top: 91px;
    color: #FFFFFF;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 10px;
}

.hero_scroll:after {
    content: url('../images/down.png');
    margin-top: 22px;
}

.ProductList {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-between;
    background-color: #fff;
    position: relative;
}


.ProductList::before {
    content: '';
    display: block;
    position: absolute;
    top: -50px;
    width: 100%;
    height: 50px;
    background-color: #fff;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
}
.ProductList::after {
    content: '';
    display: block;
    position: absolute;
    bottom: -50px;
    width: 100%;
    height: 50px;
    background-color: #fff;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
}


.ProductList_title {
    text-align: center;
    width: 100%;
}

.Product_ul {
    flex-wrap: wrap;
    justify-content: space-around;
}

.Product_li {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 29px;
    box-sizing: border-box;
    
}
.Product_li:hover {
    box-shadow: 0 10px 10px 10px rgba(0, 0, 0, 0.3);
}


.Product_li img {
    width: 232px;
    height: 225px;
    object-fit: cover;
    margin-bottom: 46px;
    padding: 12px;
}

.Product_li h3 {
    margin-bottom: 5px;
    font-size: 16px;
    color: #181818;
    width: 132px;
    height: 39px;
    text-align: center;

}

.Product_li p {
    margin-bottom: 20px;
    font-size: 10px;
    color: #535C68;
    font-family: normal;
    width: 148px;
    height: 32px;
    text-align: center;
}


.Add {

padding-top: 15px;
padding-right: 47px;
padding-bottom: 15px;
padding-left:  47px;
border-radius: 10px;
display: flex;
/*width: 70px;*/
font-size: 15px;
/*text-align: center;*/

}

.Add{
color: #BADC58;
background-color: #FFFFFF;
border: 1px solid #BADC58;
transition: color 300ms ease, background-color 300ms ease;

}

.Add:hover {
background-color: #BADC58;
color: #181818;
border: 1px solid #BADC58;
transition: color 300ms ease, background-color 300ms ease;
}


footer {
    height: 500px;
    padding-top: 123px;
    padding-bottom: 20px;
    position: relative;
    left: 0;
    right: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-content: center;
    align-items: center;
    box-sizing: border-box;
}

footer::before {
    content: url('../images/basil.png');
    position: absolute;
    left: -1000px;
    top: -320px;
    z-index: -1;
/*    width: 300px;
    height: 200px;*/
}

footer::after {
    content: '';
    display: block;
    position: absolute;
    bottom: 0;
    background-color: #181818;
    height: 100%;
    width: 100vw;
    z-index: -1;
}


.hero::after {
    content: url(../images/one.png);
    position: absolute;
    bottom: -150px;
    right: 0;
    z-index: 2;
}
.GoogleMap {
    border-radius: 20px;
    overflow: hidden;
    margin-bottom: 31px;
    width: 100%;
}

.AddressTelNumber {
    
    background-color: #fff;
    height: 60px;
    width: 100%;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
    color: #F59A63;

}

.AddressTelNumber address{

    font-size: 14px;
}


.icons {

    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    left: 0;
    right: 0;

}
.sotialimg{

	height: 20px;
	width: 20px;
	/*margin-left: 5px;*/
	margin-right: 20px;

}


@media only screen and (min-width: 0px) {
    nav{
        display: none;
    }
    nav.mainNav{
        display: flex;
    }
}
@media only screen and (min-width: 480px) {
 
    nav{
        display: flex;
    }
}