

@font-face {

	font-family: caps;
	src: url(../fonts/caps.ttf);
}

@font-face {

	font-family: normal;
	src: url(../fonts/normal-bold.ttf);
}

* {

	margin: 0;
	padding: 0;
	text-decoration: none;
	list-style: none;

	font-family: normal;
	/*border: 1px solid red;*/

}

body{

	max-width: 1084px;
	margin: 0 auto;

}



header,ul {

	display: flex;
	
}

header	{

	height: 60px;


justify-content: space-between;
align-items: center;
/*border: 1px solid red;
*/

}


.burger{


	display: none;
}


.header_navigation{


	width: 214px;
	justify-content: space-between;

}


a{
	color:  #181818;
	transition: 300ms color ease;
	font-family: caps;
}


a:hover {
	color:  #baDC58;
	transition: 300ms color ease;

}



a,h1,h2,h3,address {
font-family: caps;
}

h1 {

	font-size: 50px;
	text-align: center;
}

.hero {
	/*border: 1px solid red;*/
	/*position: relative;*/
	height: calc(100vh - 60px);
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	color: #FFFFFF;
/*	background-color: #707070;*/

}

.hero_content {

    display: flex;
    flex-direction: column;
    align-items: center;
    /*border: 1px solid red;*/
}


.hero_p {

	font-size: 14px;
	text-align: center;
	margin-top: 10px;
	/*border: 1px solid red;*/
	
}


.hero_a{
	margin-top: 52px;
	color: #181818;
	background-color: #BADC58;
   	padding: 14px 52px;
    border: 1px solid #BADC58;
    border-radius: 10px;
    transition: color 300ms ease, background-color 300ms ease;
    font-size: 14px;
    /*border: 1px solid red;*/
/*    align-items: flex-end
*/
}


.hero_a:hover{

background-color: #FFFFFF;
color: #BADC58;
border: 1px solid #BADC58;
transition: color 300ms ease, background-color 300ms ease;

}


.hero_image {

	width: 100%;
	height: calc(100vh - 60px);
	top: 60px;
	position: absolute;
	z-index: -2;
	left: 0;
	object-fit: cover;
}


.hero::before {

	content: '';
	display: block;
	position: absolute;
	top: 60px;
	bottom: 0;
	left: 0;
	right: 0;
	background-color: #181818;
	opacity: .6;
	z-index: -1;

}

.hero_scroll {
    position: absolute;
    bottom: 20px;
	margin-top: 91px;
    color: #FFFFFF;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 10px;
}

.hero_scroll:after {
    content: url('../images/down.png');
    margin-top: 22px;
}













.ProductList {

display: flex;
justify-content: center;

}

.Product_ul {

display: flex;
flex-wrap : wrap;
justify-content:space-between;
}

.Add {

text-decoration: none;
padding-top: 15px;
padding-right: 47px;
padding-bottom: 15px;
padding-left:  47px;
border-radius: 10px;
display: flex;
width: 70px;
font-size: 15px;
text-align: center;

}

.Add{
color: #181818;
background-color: #BADC58;
border: 1px solid #BADC58;
transition: color 300ms ease, background-color 300ms ease;

}

.Add:hover {
background-color: #FFFFFF;
color: #BADC58;
border: 1px solid #BADC58;
transition: color 300ms ease, background-color 300ms ease;
}
